In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\Αντώνης Καρούσης\Downloads\archive (2)\retail_price.csv")
df

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,56,162,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,56,162,5,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,56,162,5,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,56,162,5,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,56,162,5,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

### We are removing 4 columns that we will not need for our project

In [4]:
df = df.drop(
    columns=[
        'product_name_lenght',
        'product_description_lenght',
        'product_photos_qty',
        'holiday'
    ]
)

In [5]:
df

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,350,4.0,57,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,350,4.0,61,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,350,4.0,123,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,350,4.0,90,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,350,4.0,54,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,9750,4.4,57,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,9750,4.4,61,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,9750,4.4,123,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,9750,4.4,90,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,9750,4.4,54,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

### We will calculate the percentage difference between our price and competitors’ prices..

In [6]:
df['variance1'] = ((df['unit_price'] - df['comp_1'])/df['comp_1'])*100

In [7]:
df['variance1'].describe()

count     676.000000
mean       95.513055
std       291.597576
min       -70.497050
25%         0.000000
50%         0.000000
75%        71.713884
max      1650.375188
Name: variance1, dtype: float64

In [8]:
df[df['variance1']==df['variance1'].max()]

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,variance1
340,health5,health_beauty,01-02-2017,4,1399.6,26.9275,349.9,900,4.3,19,...,4.3,11.750909,349.90,4.3,26.927500,64.990000,3.9,15.348000,349.9,1650.375188
341,health5,health_beauty,01-03-2017,2,699.8,21.2750,349.9,900,4.3,25,...,4.3,13.818889,89.99,4.1,13.020000,64.990000,3.9,17.262222,349.9,1650.375188
342,health5,health_beauty,01-04-2017,1,349.9,19.2900,349.9,900,4.3,23,...,4.3,18.038462,349.90,4.3,19.290000,64.990000,3.9,15.168889,349.9,1650.375188
343,health5,health_beauty,01-05-2017,4,1399.6,26.7300,349.9,900,4.3,41,...,4.3,14.847500,89.99,4.1,16.098333,64.990000,3.9,14.811875,349.9,1650.375188
344,health5,health_beauty,01-06-2017,2,699.8,24.5050,349.9,900,4.3,53,...,4.3,12.683333,89.99,4.1,14.163333,58.799524,3.9,13.903333,349.9,1650.375188
345,health5,health_beauty,01-07-2017,1,349.9,29.3000,349.9,900,4.3,61,...,4.3,11.135172,89.99,4.1,12.118824,59.256667,3.9,17.998000,349.9,1650.375188

In [9]:
q1 = np.percentile(df['variance1'], 25)
q3 = np.percentile(df['variance1'], 75)

In [10]:
df1_outliers= df[(df['variance1']<q1-1.5*(q3-q1))|(df['variance1']>q3+1.5*(q3-q1))]
df1_outliers

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,variance1
85,health3,health_beauty,01-01-2018,1,110.99,44.630000,110.990000,700,4.1,98,...,4.3,11.287368,89.990000,4.1,14.811000,58.99,3.9,22.678333,110.940000,362.651105
86,health3,health_beauty,01-02-2018,2,221.98,20.550000,110.990000,700,4.1,126,...,4.3,12.550000,89.990000,4.1,16.307647,58.99,3.9,19.575000,110.990000,362.651105
87,health3,health_beauty,01-03-2018,9,998.91,38.192222,110.990000,700,4.1,169,...,4.3,14.198750,83.740000,4.1,11.876875,58.99,3.9,15.228000,110.990000,362.651105
89,health3,health_beauty,01-05-2018,23,2759.77,31.582609,119.990000,700,4.1,159,...,4.3,7.988571,79.990000,4.1,21.943125,58.99,3.9,9.422500,116.528462,400.166736
90,health3,health_beauty,01-06-2018,43,5288.57,35.518372,122.990000,700,4.1,131,...,4.3,16.270000,79.990000,4.1,13.362308,58.99,3.9,16.430000,119.990000,412.671947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,health2,health_beauty,01-03-2018,28,9125.00,19.370357,325.892857,400,4.2,169,...,4.3,14.198750,83.740000,4.1,11.876875,58.99,3.9,15.228000,325.000000,1258.452927
546,health2,health_beauty,01-05-2018,19,6270.00,15.747895,330.000000,400,4.2,159,...,4.3,7.988571,79.990000,4.1,21.943125,58.99,3.9,9.422500,330.000000,1275.573155
547,health2,health_beauty,01-06-2018,16,5280.00,20.298750,330.000000,400,4.2,131,...,4.3,16.270000,79.990000,4.1,13.362308,58.99,3.9,16.430000,330.000000,1275.573155
548,health2,health_beauty,01-07-2018,13,4290.00,28.420000,330.000000,400,4.2,113,...,4.3,18.810000,79.990000,4.1,16.745000,58.99,3.9,7.670000,330.000000,1275.573155
549,health2,health_beauty,01-08-2018,28,9240.00,20.505357,330.000000,400,4.2,127,...,4.3,16.770000,82.821429,4.1,12.418571,58.99,3.9,12.083333,330.000000,1275.573155

In [11]:
df['variance2'] = ((df['unit_price'] - df['comp_2'])/df['comp_2'])*100
q1 = np.percentile(df['variance2'], 25)
q3 = np.percentile(df['variance2'], 75)
df2_outliers= df[(df['variance2']<q1-1.5*(q3-q1))|(df['variance2']>q3+1.5*(q3-q1))]
df2_outliers

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,variance1,variance2
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,350,4.0,57,...,15.011897,215.000000,4.4,8.760000,45.950000,4.0,15.100000,45.900000,-48.887653,-78.627907
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,350,4.0,61,...,14.769216,209.000000,4.4,21.322000,45.950000,4.0,12.933333,45.950000,-48.887653,-78.014354
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,350,4.0,123,...,13.993833,205.000000,4.4,22.195932,45.950000,4.0,14.840000,45.950000,-48.887653,-77.585366
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,350,4.0,90,...,14.656757,199.509804,4.4,19.412885,45.950000,4.0,14.287500,45.950000,-48.887653,-76.968550
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,350,4.0,54,...,18.776522,163.398710,4.4,24.324687,45.950000,4.0,15.100000,45.950000,-48.887653,-71.878603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,computers2,computers_accessories,01-04-2018,13,1042.90,18.172308,80.666667,180,3.5,107,...,27.253036,149.900000,4.3,30.227429,80.666667,3.5,18.172308,81.023913,-33.290924,-46.186346
657,computers2,computers_accessories,01-05-2018,11,876.90,14.414545,79.800000,180,3.5,78,...,39.217200,149.900000,4.3,18.943077,79.800000,3.5,14.414545,80.666667,-32.941176,-46.764510
658,computers2,computers_accessories,01-06-2018,10,789.00,17.328000,78.900000,180,3.5,66,...,53.625556,149.900000,4.3,27.626667,78.900000,3.5,17.328000,79.800000,-31.086379,-47.364910
659,computers2,computers_accessories,01-07-2018,7,545.30,14.638571,77.900000,180,3.5,43,...,48.626667,149.900000,4.3,33.571538,77.900000,3.5,14.638571,78.900000,-35.077923,-48.032021
660,computers2,computers_accessories,01-08-2018,2,155.80,13.415000,77.900000,180,3.5,18,...,39.046000,149.900000,4.3,24.760000,77.900000,3.5,13.415000,77.900000,-35.077923,-48.032021

In [12]:
df['variance3'] = ((df['unit_price'] - df['comp_3'])/df['comp_3'])*100
q1 = np.percentile(df['variance3'], 25)
q3 = np.percentile(df['variance3'], 75)
df3_outliers= df[(df['variance3']<q1-1.5*(q3-q1))|(df['variance3']>q3+1.5*(q3-q1))]
df3_outliers

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,variance1,variance2,variance3
81,cool4,cool_stuff,01-01-2018,13,2170.87,25.286154,166.990000,2425,3.8,102,...,129.990000,4.3,17.410000,29.50,4.4,16.532632,166.990000,67.006701,28.463728,466.067797
83,cool4,cool_stuff,01-03-2018,11,1911.89,23.954545,173.808182,2425,3.8,45,...,129.990000,4.3,18.490000,35.00,4.4,16.256154,176.990000,73.825564,33.708887,396.594805
84,cool4,cool_stuff,01-04-2018,6,1019.94,24.878333,169.990000,2425,3.8,18,...,129.990000,4.3,23.490000,35.00,4.4,14.845000,173.808182,89.165028,30.771598,385.685714
111,cool5,cool_stuff,01-09-2017,6,599.94,17.781667,99.990000,4475,4.3,10,...,99.990000,4.3,17.781667,29.50,4.4,11.730000,99.990000,0.000000,0.000000,238.949153
115,cool5,cool_stuff,01-01-2018,6,599.94,15.901667,99.990000,4475,4.3,102,...,129.990000,4.3,17.410000,29.50,4.4,16.532632,99.990000,0.000000,-23.078698,238.949153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,9750,4.4,57,...,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000,139.154616,0.000000,367.899891
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,9750,4.4,61,...,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000,132.480534,0.000000,354.842220
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,9750,4.4,123,...,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000,128.031146,0.000000,346.137106
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,9750,4.4,90,...,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000,121.924142,0.000000,334.188909
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,9750,4.4,54,...,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804,81.756073,0.000000,255.601109

In [13]:
df.columns

Index(['product_id', 'product_category_name', 'month_year', 'qty',
       'total_price', 'freight_price', 'unit_price', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'month', 'year',
       's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2', 'comp_3',
       'ps3', 'fp3', 'lag_price', 'variance1', 'variance2', 'variance3'],
      dtype='object')

### Below we will calculate the base price of our company and for the competitors

In [14]:
def top_trimmed_mean(x, q=0.7):
    cutoff = x.quantile(q)
    return x[x >= cutoff].mean()

base_prices = pd.DataFrame({'product_id': df['product_id'].unique()})

for col in ['unit_price', 'comp_1', 'comp_2', 'comp_3']:
    temp = (
        df.groupby('product_id')[col]
          .apply(top_trimmed_mean)
          .reset_index(name=f'base_{col}')
    )
    base_prices = base_prices.merge(temp, on='product_id', how='left')

base_prices

    product_id  base_unit_price  base_comp_1  base_comp_2  base_comp_3
0         bed1        45.950000    89.900000   198.381703    45.950000
1      garden5       100.625000    63.991667    63.991667    84.780392
2    consoles1        35.914286    35.914286    35.700000    35.914286
3      garden7        59.900000    59.900000    59.900000    59.900000
4      health9        23.990000    23.990000    89.990000    60.417451
5        cool4       173.596061    99.990000   129.990000   167.113457
6      health3       122.990000    35.557308    87.906667    58.990000
7   perfumery1        56.990000    56.990000   136.550000    56.990000
8        cool5        99.990000    99.990000   129.990000    99.990000
9      health8        89.990000    28.656667    89.990000    59.756667
10     garden4        59.900000    59.900000    59.900000    59.900000
11  computers5       126.664965   153.732411   152.407792   124.847500
12    garden10        59.900000    59.900000    59.900000    59.900000
13  computers6       149.956818   147.218069   149.956818    86.444360
14     health6        66.990000    29.847143    86.865000    58.990000
15     garden6        59.900000    59.900000    59.900000    59.900000
16    health10        52.885525    28.234538    86.865000    58.990000
17    watches2       161.911400   156.607742   161.911400   199.966600
18     health1        84.990000    23.990000    89.990000    58.990000
19     garden8       181.684898   119.945000   119.945000   119.945000
20     garden9        59.900000    59.900000    59.900000    59.900000
21    watches6       158.565035   158.565035   158.509678   200.208250
22       cool3        65.000000    99.990000   129.990000    65.000000
23  perfumery2       136.850000    70.889841   136.850000   136.850000
24       cool2       129.990000    99.990000   129.990000   129.990000
25  computers1       102.328571   153.861206   149.964935   108.100000
26   consoles2        33.147619    33.352381    33.147619    33.147619
27     health5       352.250000    74.130000   145.685000    64.034444
28    watches8       236.566667   175.463636   173.950000   209.624333
29  furniture4        99.900000    94.344444    58.900000    99.900000
30    watches5       225.070952   176.813077   221.703333   205.816667
31     health7        64.034444    29.836154    89.990000    64.034444
32        bed3        98.825000    88.164706    98.825000    40.640182
33     garden3       116.665000    74.517083    74.517083    88.289583
34        bed2        89.900000    89.900000   144.140851    60.600000
35  furniture3        38.400000    82.188889    38.400000    99.900000
36    watches4       108.000000   136.747222   108.000000   188.986667
37    watches3        78.000000   153.832028   107.528571   211.167800
38  furniture2        82.254167    82.254167    44.500000    99.900000
39     garden2        59.900000    59.900000    59.900000    59.900000
40  furniture1        38.400000    83.290476    38.400000    99.900000
41     health2       330.000000    49.490833    89.990000    58.990000
42     garden1       116.818182    69.922500    69.922500    82.445000
43       cool1        99.990000    99.990000   129.990000    99.990000
44  computers4       157.194539   157.194539   156.168405   155.393361
45    watches7       346.916167   199.586951   208.022571   199.862500
46  computers3       158.169881   164.852831   159.437229   158.169881
47     health4        29.900000    24.527273    89.990000    58.990000
48    watches1       225.097800   204.041382   222.297800   225.097800
49  computers2       105.814167   152.163784   149.956818   105.814167
50        bed4        47.900000    89.429412    47.900000    40.640182
51        bed5       212.000000    89.900000   212.000000    45.950000

In [15]:
df = df.merge(base_prices, on='product_id', how='left')
df

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,ps3,fp3,lag_price,variance1,variance2,variance3,base_unit_price,base_comp_1,base_comp_2,base_comp_3
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,350,4.0,57,...,4.0,15.100000,45.900000,-48.887653,-78.627907,0.000000,45.95,89.9,198.381703,45.95
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,350,4.0,61,...,4.0,12.933333,45.950000,-48.887653,-78.014354,0.000000,45.95,89.9,198.381703,45.95
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,350,4.0,123,...,4.0,14.840000,45.950000,-48.887653,-77.585366,0.000000,45.95,89.9,198.381703,45.95
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,350,4.0,90,...,4.0,14.287500,45.950000,-48.887653,-76.968550,0.000000,45.95,89.9,198.381703,45.95
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,350,4.0,54,...,4.0,15.100000,45.950000,-48.887653,-71.878603,0.000000,45.95,89.9,198.381703,45.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,9750,4.4,57,...,4.0,15.100000,214.950000,139.154616,0.000000,367.899891,212.00,89.9,212.000000,45.95
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,9750,4.4,61,...,4.0,12.933333,215.000000,132.480534,0.000000,354.842220,212.00,89.9,212.000000,45.95
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,9750,4.4,123,...,4.0,14.840000,209.000000,128.031146,0.000000,346.137106,212.00,89.9,212.000000,45.95
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,9750,4.4,90,...,4.0,14.287500,205.000000,121.924142,0.000000,334.188909,212.00,89.9,212.000000,45.95
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,9750,4.4,54,...,4.0,15.100000,199.509804,81.756073,0.000000,255.601109,212.00,89.9,212.000000,45.95

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             676 non-null    object
 1   product_category_name  676 non-null    object
 2   month_year             676 non-null    object
 3   qty                    676 non-null    int64
 4   total_price            676 non-null    float64
 5   freight_price          676 non-null    float64
 6   unit_price             676 non-null    float64
 7   product_weight_g       676 non-null    int64
 8   product_score          676 non-null    float64
 9   customers              676 non-null    int64
 10  weekday                676 non-null    int64
 11  weekend                676 non-null    int64
 12  month                  676 non-null    int64
 13  year                   676 non-null    int64
 14  s                      676 non-null    float64
 15  volume                 676 non-null    int64
 16  comp_1                 676 non-null    float64
 17  ps1                    676 non-null    float64
 18  fp1                    676 non-null    float64
 19  comp_2                 676 non-null    float64
 20  ps2                    676 non-null    float64
 21  fp2                    676 non-null    float64
 22  comp_3                 676 non-null    float64
 23  ps3                    676 non-null    float64
 24  fp3                    676 non-null    float64
 25  lag_price              676 non-null    float64
 26  variance1              676 non-null    float64
 27  variance2              676 non-null    float64
 28  variance3              676 non-null    float64
 29  base_unit_price        676 non-null    float64
 30  base_comp_1            676 non-null    float64
 31  base_comp_2            676 non-null    float64
 32  base_comp_3            676 non-null    float64
dtypes: float64(22), int64(8), object(3)
memory usage: 174.4+ KB

In [17]:
df['month_year'] = pd.to_datetime(df['month_year'], dayfirst=True)
df

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_weight_g,product_score,customers,...,ps3,fp3,lag_price,variance1,variance2,variance3,base_unit_price,base_comp_1,base_comp_2,base_comp_3
0,bed1,bed_bath_table,2017-05-01,1,45.95,15.100000,45.950000,350,4.0,57,...,4.0,15.100000,45.900000,-48.887653,-78.627907,0.000000,45.95,89.9,198.381703,45.95
1,bed1,bed_bath_table,2017-06-01,3,137.85,12.933333,45.950000,350,4.0,61,...,4.0,12.933333,45.950000,-48.887653,-78.014354,0.000000,45.95,89.9,198.381703,45.95
2,bed1,bed_bath_table,2017-07-01,6,275.70,14.840000,45.950000,350,4.0,123,...,4.0,14.840000,45.950000,-48.887653,-77.585366,0.000000,45.95,89.9,198.381703,45.95
3,bed1,bed_bath_table,2017-08-01,4,183.80,14.287500,45.950000,350,4.0,90,...,4.0,14.287500,45.950000,-48.887653,-76.968550,0.000000,45.95,89.9,198.381703,45.95
4,bed1,bed_bath_table,2017-09-01,2,91.90,15.100000,45.950000,350,4.0,54,...,4.0,15.100000,45.950000,-48.887653,-71.878603,0.000000,45.95,89.9,198.381703,45.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,2017-05-01,1,215.00,8.760000,215.000000,9750,4.4,57,...,4.0,15.100000,214.950000,139.154616,0.000000,367.899891,212.00,89.9,212.000000,45.95
672,bed5,bed_bath_table,2017-06-01,10,2090.00,21.322000,209.000000,9750,4.4,61,...,4.0,12.933333,215.000000,132.480534,0.000000,354.842220,212.00,89.9,212.000000,45.95
673,bed5,bed_bath_table,2017-07-01,59,12095.00,22.195932,205.000000,9750,4.4,123,...,4.0,14.840000,209.000000,128.031146,0.000000,346.137106,212.00,89.9,212.000000,45.95
674,bed5,bed_bath_table,2017-08-01,52,10375.00,19.412885,199.509804,9750,4.4,90,...,4.0,14.287500,205.000000,121.924142,0.000000,334.188909,212.00,89.9,212.000000,45.95
675,bed5,bed_bath_table,2017-09-01,32,5222.36,24.324687,163.398710,9750,4.4,54,...,4.0,15.100000,199.509804,81.756073,0.000000,255.601109,212.00,89.9,212.000000,45.95

In [18]:
df.to_csv('FinalProjectClean.csv', index=False, encoding='utf-8-sig')